.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
}

@media screen and (max-width: 605px) {
  .form {
    margin: 3rem 0rem;
  }
}
@media screen and (max-width: 590px) {
  .form {
    flex-direction: column;
  }
}
