.form__label {
  color: var(--color-title);
  font-size: 1.3rem;
  font-family: var(--main-font);
  font-weight: var(--regular);
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .form__label {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 590px) {
  .form__label {
    margin-bottom: 0.8rem;
  }
}
